App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* Add style to the body*/
body{
    height: 100px;
    margin: 0;
    background-color:#f5f6fa;
}
/* Add style to the nav-bar*/
.topnav{
    background-color: #54a0ff;
    color: white;
    padding:5px;
    font-family: 'Times New Roman', Times, serif;
    overflow:hidden;
    text-align:center;
}
/* Style the menu list items in the nav-bar*/
.topnav-list ul{
    text-align: right;
    margin-right: 150px;
    margin-top: 5px;
}
.topnav-list li {
    font-size:18px;
    height: 10px;
    display: inline-block;
    padding: 15px 15px;
  }
.topnav-list a {
    color:white;
    text-decoration: none;
}
/*Main style*/
.main{
    display: flex;
    text-align: center;
    height: 74%;
    width: 80%;
    margin-left: 10%;
    
}
.table{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    
}

.main-list{
    padding: 15px 150px;
    margin-bottom: 20px;
    min-height: 80vh;
    }

/*Login form*/
.login{
    width: 60%;
    height : 450px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: white;
    
    margin-left: 20%;
    -webkit-box-shadow: -1px 1px 15px 2px rgba(89,82,89,0.75);
    -moz-box-shadow: -1px 1px 15px 2px rgba(89,82,89,0.75);
    box-shadow: -1px 1px 15px 2px rgba(89,82,89,0.75);
}

/*Accept button*/
#accept-btn{
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #2e86de;
    color: white;
    cursor: pointer;
}
#accept-btn:hover {background-color: #54a0ff}

/* Style the registration form*/
form{
    margin-top: 15px;
    position: relative;

}

/*Style the form title*/
#title{
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
}

/*Style the terms*/
#terms{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
/* item card */
.item-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .item-grid {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
  }
  
  .item-grid-item {
    width: 300px;
    height: 300px;
    padding: 5px
  }
  /* end of main items */
  /* order card */
  .order-card {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-bottom: 1px dotted #d35400;
  }
  .order-content {
      padding: 2px;
      flex: 2;
  }
  .order-user {
    flex: 3;
  }
  .quantity {
    padding: 2px;
    flex: 1;
}
  
.order-button {
    display: flex;
    justify-content: center;    
    padding: 4px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 80%;
     
}
/* admin buttons */
.complete {
    border: 1px solid green;
    background-color: rgb(174, 248, 176);
}

.decline {
    border: 1px solid #d35400;
    background-color: #F79F1F;
}

.accept {
    border: 1px solid #d35400;
    background-color: #0984e3;
}

/* table css */
.table table{
    border-collapse: collapse;
    width: 100%;     
}

.table th {
   border: 1px solid #ccc;
   padding: 10px;
}
.table td {
    border: 0px solid #ccc;
    padding: 10px;
 }

.table tr:nth-child(even) {
    background-color: #ddd;
}

/* add form css */
/* Form styles */

#loginForm {
    display:block;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

form {
    display:block;    
    margin: auto;
}
.form-label {
    display:block;    
    margin-top: 20px;
    margin-bottom:-20px;
}

.form-submit {
    display:block;
    margin-top: 20px;
}

input {
    padding:10px 20px;
    box-sizing:border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
        
}
input:focus {
    outline: none;
    border:2px solid #4b65da
}

/* order css */

.order-content .title {
    font-weight: bold;
    color: #d35400;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .decline-button .accept-button .button {
    display: inline-block;
    margin-top: auto;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
  }
  .accept-button .button {
    color: #00b894;
    border: 1px solid #00b894;
    padding: 3px;
  }
  .decline-button .button {
    color: #d35400;
    border: 1px solid #d35400;
    padding: 3px;
  }
  .complete-button .button {
    color: #0984e3;
    border: 1px solid #0984e3;
    padding: 3px;
  }
  a {
    text-decoration: none;
}

/* item card */
.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: #576574;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


button:hover, a:hover {
    opacity: 0.7;
}
/* end of item card */

/* Add style to the email and text boxes*/
.login input[type=text],input[type=email],input[type=password]{
    width: 70%;
    height: auto;
    padding: 10px 10px;
    margin-left: 10%;
    margin-bottom: 5px;
    color: black;
}
#error {
    font-family:Inconsolata;
    color: #d32f2f;
    padding: 10px;
    margin-left: 35%;
    font-size: 16px;
    background: #f1e2e2;
    border-radius: 3px;
    display: none;
    width: fit-content;
    animation-name:error;
    animation-iteration-count:2;
    animation-duration: 300;
    text-align: center;
}

#success {
    font-family:Inconsolata;
    color: #23ca8a;
    padding: 10px;
    margin-left: 35%;
    font-size: 16px;
    background: #f1e2e2;
    border-radius: 3px;
    display: none;
    width: fit-content;
    animation-name:success;
    animation-iteration-count:2;
    animation-duration: 300;
    text-align: center;
}

/*Add style to the submit button*/
input[type=submit]{
    height: 50%;
    width: 30%;
    padding: 10px 15px;
    margin-left: 40%;
    margin-bottom: 10%;
    background-color: #2e86de;
    color: white;
}
/*Style the form labels*/
label{
    padding: 10% 10%;
    margin-bottom: 5px;
    font-size: large;
}

/*Add responsiveness for a mobile phone device*/
@media only screen and (min-width: 280px) and (max-width: 480px){ 
.topnav ul {
       margin-left:-10%;
    }

.topnav ul li {
        display: block;  
    }

.login{
    width: 100%;
    height: auto;
    /* border: solid thin rgb(158, 85, 16); */
    margin-top: 5px;
    background-color: white;
    margin-left: 1%;
    }
.main{
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 80vh;
    }

.main-list{
    padding: 15px 15px;
    }

 }
/* Add responsiveness for smaller tablet devices*/
@media only screen and (min-width: 480px) and (max-width: 767px){
    .topnav ul {
            margin-left: 10%;
            margin-top: 5px;
        }
    
    .topnav ul li {
            display: inline-block;
            padding: 5px 10px;
        }
        
    .login{
            width: 80%;
            height: auto;
            border: solid thin lightgreen;
            margin-top: 5px;
            background-color: white;
            margin-left: 10%;
        }
    .main{
        
        flex-direction: column;
        margin-bottom: 20px;
        min-height: 80vh;
        }

    .main-list{
        padding: 15px 15px;
        }
    }
/*Add responsiveness for a tablet device*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .topnav ul {
        margin-left: 10%;
        margin-top: 5px;
    }

    .topnav ul li {
        display: inline-block;
        padding: 5px 10px;
         }


.login{
        width: 70%;
        height: auto;
        border: solid thin lightgreen;
        margin-top: 5px;
        background-color: white;
        margin-left: 10%;
    }
.main{
    
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 80vh;
    }

.main-list{
    padding: 15px 15px;
    }



}
/*Add responsiveness for medium devices like desktops*/

@media only screen and (min-width: 992px) and (max-width: 1025px){ 
.topnav ul {
        margin-left: 10%;
        margin-top: 5px;
    }

.topnav ul li {
        display: inline-block;
        padding: 5px 10px;
    }

.login{
      
    width:70%;
    height: auto;
    border: solid thin lightgreen;
    margin-top: 5px;
    background-color: white;
    margin-left: 10%; 
      
    }
.main{
    
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 80vh;
    }
.main-list{
    padding: 15px 15px;
    }
}
@media only screen and (min-width: 1026px) and (max-width: 1084px){ 
    .topnav ul {
        margin-left: 10%;
        margin-top: 5px;
    }

.topnav ul li {
        display: inline-block;
        padding: 5px 10px;
    }

.login{  
    width:60%;
    height: auto;
    border: solid thin lightgreen;
    margin-top: 5px;
    background-color: white;
    margin-left: 10%; 
      
    }
.main{
    
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 80vh;
    }
    
.main-list{
    padding: 15px 15px;
    }
}
